.root {
  position: relative;
  display: flex;
  justify-content: center;
}

.wifi-icon {
  position: absolute;
  fill: var(--ink-06, #fff);
  left: 30%;
  top: 194px;
}

.heading {
  position: absolute;
  left: 40%;
  top: 192px;
  width: 144px;
  height: 68px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.active-box {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 281px;
  width: 367px;
  height: 452px;
  background-color: white;
  border-radius: 42px;
  box-shadow: 0px 0px 10px 0px whitesmoke;
}

.login {
  position: absolute;
  top: 10%;
  width: 99px;
  height: 29px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  width: 244px;
  height: 52px;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
}
.input-number {
  position: absolute;
  top: 119px;
}
input[type="number"]::placeholder {
  text-align: center;
  color: black;
}

.input-password {
  position: absolute;
  top: 226px;
}

i {
  position: absolute;
  top: 235px;
  right: 15%;
}
input[type="password"]::placeholder {
  text-align: center;
  color: black;
}

.btn-login {
  position: absolute;
  top: 329px;
  display: flex;
  width: 194px;
  height: 47px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 4px;
  background: var(--utility-warning, #ffac4b);
  color: black;
  font-weight: 800;
}

.forgot-txt {
  position: absolute;
  left: 50%;
  top: 298px;
  color: #0b0a0a;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.info-txt {
  position: absolute;
  left: 10%;
  top: 399px;
  color: #100f0f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}

.signup {
  position: absolute;
  left: 61%;
  top: 398px;
  color: #1b1a1a;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 520;
  line-height: normal;
  text-decoration-line: underline;
  width: 83px;
  height: 20px;
  flex-shrink: 0;
}
.error {
  position: absolute;
  right: 61px;
  top: 175px;
  color: #fc1111;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error1 {
  position: absolute;
  right: 61px;
  top: 280px;
  color: #fc1111;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (min-width: 600px) {
  .wifi-icon {
    left: 36%;
  }

  .heading {
    left: 44%;
  }
}

@media only screen and (min-width: 768px) {
  .wifi-icon {
    left: 40%;
  }

  .heading {
    left: 46%;
  }
}

@media only screen and (min-width: 992px) {
  .wifi-icon {
    left: 42%;
  }

  .heading {
    left: 47%;
  }
  .signup {
    left: 61%;
  }
}
@media only screen and (min-width: 1200px) {
  .wifi-icon {
    left: 45%;
  }

  .heading {
    left: 48%;
  }
  .signup {
    left: 61%;
  }
}
